#doc {
  text-align: center;
  padding-bottom: 10vh;
  padding-top: 1vh;
  margin: 0;
}

.description {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1em;
  text-align: justify;
}

#state {
  width: 80vw;
  max-width: 600px;
}
